@import url(https://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here&subset=latin,latin-ext)

body
  font-family: 'Just Me Again Down Here', cursive
  font-size: 15px
  margin: 0
  padding: 0
  background:
    color: #fefefe
    image: url(../images/plansza.png)
    position: center center
    size: cover
    repeat: no-repeat
    attachment: fixed


h1
  font-size: 20px
h2
  font-size: 18px

div
  border: 1px solid red

.punkty
  padding: 30px
  position: absolute
  right: 0
  top: 0
  font-size: 5em

.czas
  padding: 30px
  position: absolute
  left: 0
  top: 0
  font-size: 5em

.plansza
  position: relative
  width: 99vw
  height: 95vh

.przystanki
  position: absolute
  bottom: 0
  width: 100%
  height: 33%
  display: flex
  justify-content: space-around
  align-content: center
  align-items: center

.przystanek
  flex-basis: auto
  width: 30vw
  height: 150px
  position: relative

.autobus
  width: 300px
  height: 100px
  background:
    image: url(../images/autobus2.png)
    repeat: no-repeat
    position: center center

  .aktywny
    transition: all 2s

.in
  background:
    image: url(../images/autobus2.png)
    repeat: no-repeat
    size: contain
    position: center center
  opacity: 1
  transition: all 3s

.out
  background:
    image: url(../images/autobus2.png)
    repeat: no-repeat
    size: contain
    position: center center
  opacity: 0
  transition: all 2s

.obc
  background:
    color: #9a0700

.doorLeft
  flex-basis: auto
  width: 20px
  height: 60px
  position: absolute
  top: 37%
  //left: 47%
  left: 90px
  background-color: red
  z-index: 2
  //background:
  //  repeat: no-repeat
  //  size: contain
  //  position: center center
  //opacity: 1
  //transition: all 3s
  //animation-name: moja_animacja
  //animation-duration: 4s
  //animation-direction: alternate


.doorRight
  flex-basis: auto
  width: 20px
  height: 60px
  position: absolute
  left: 54%
  top: 37%
  background-color: darkseagreen
  z-index: 2
  //opacity: 1
  //transition: all 3s


.doorOpen
  width: 40px
  height: 50px
  position: absolute
  top: 10px
  left: 100px
  background-color: yellow
  z-index: 1
  opacity: 1
  transition: all 3s



.doorClose
  width: 40px
  height: 50px
  position: absolute
  top: 10px
  left: 100px
  background-color: green
  z-index: 1

//@keyframes moja_animacja
//  0% transform: translateX(0)
//  100% transform: translateX(300%)

//
//@mixin animation-keyframes
//  $animation-name: unique-id()
//  animation-name: $animacja
//
//  @keyframes #{animacja}
//  @content
//
//
//
//.some-element
//  animation: 10s linear infinite
//
//  @include animation-keyframes
//    from
//      background-position: 0 0
//    to
//      background-position: 114.2857% 0
