/*@import url("https://fonts.googleapis.com/css?family=Poiret+One&subset=latin,latin-ext");*/

$kolor: #B30800;

$font-one: 'Poiret One', sans-serif;
$font-lato: 'Lato', sans-serif;

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}


body {
  color: $kolor;
  font-family: $font-lato;
  font-weight: 300;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-family: $font-one;
  font-size: 40px;
  font-weight:900;
  margin-bottom: 25px;
}

h3 {
  font-family: $font-one;
  font-size: 30px;
  font-weight:600;
  text-decoration: none;
  margin-bottom: 15px;
  margin-top: 15px;
}

h4 {
  font-family: $font-one;
  font-size: 20px;
  font-weight:600;
}

.right{float: right;}
.left {float: left;}
.clear{clear:both;}

/*style menu*/

.section {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

#menu-active .menu-glowne li a.active {
  color: #f02541;
}

.naglowek-strony-bez-tla {
  position: fixed;
  z-index: 1000;
  top:0;
  width: 100%;
  height: 80px;
  color: #ffffff;
  transition: 0.4s;
  margin-top: 20px;
}

.naglowek-strony {
  /*display: none;*/
  position: fixed;
  z-index: 1000;
  top:0;
  width: 100%;
  height: 80px;
  border-bottom: 2px solid #B30800;
  background-color: white;
  margin-top: 0;
  box-shadow: 0 1px 2px 0 rgba(179,8,0,0.3);
  transition: all 0.25s;
  transform: translate3d(0, 0, 0);

}

.naglowek-strony-bez-tla .logo-strony{
  width: 80px;
  height:80px;
  background-image: url('../images/logo-autobus.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-left: 10px;
  margin-top: 10px;
  transition: 0.4s;
}

.naglowek-strony .logo-strony{
  width: 60px;
  height:60px;
  background-image: url('../images/logo-autobus.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-left: 10px;
  margin-top: 10px;
  transition: 0.4s;
}

.menu-glowne {
  /*list-style-type: none;*/
  font-family: $font-one;
  font-size: 20px;
  font-weight: 600;
  text-align: right;
}

.menu-glowne li {
  display: inline-block;
  margin-top: 25px;
  margin-left: 50px;
}

.menu-glowne li a {
  color: #ffffff;
  font-size: 26px;
  text-decoration: none;
  font-weight: 600;
}

.naglowek-strony-bez-tla .menu-glowne li a:hover {
  color: #f02541;
}

.naglowek-strony .menu-glowne li a:hover {
  color: #f02541;
}

#menu-active .menu-glowne .active {
  color: #222222;
}

.naglowek-strony .menu-glowne li a {
  color: #A20700;
  font-size: 26px;
  text-decoration: none;
  font-weight: 600;
}

.welcome {
  height: 100vh;
  align-items:center;
  display:flex;
  color: white;
  background-image: url("../images/public-transport-1920-03r.jpg");
  background-attachment: fixed ;
  background-size: cover;
  background-attachment: fixed;
  border-bottom: 10px solid $kolor;
  background-color: $kolor;
  margin-top: 0;
  animation-name: slides;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes slides{
  25% {background-image: url("../images/public-transport-1920-03r.jpg")}
  50% {background-image: url("../images/public-transport-1920-01r.jpg")}
  75% {background-image: url("../images/public-transport-1920-02r.jpg")}
  0% {background-image: url("../images/public-transport-1920-04r.jpg")}
}

.welcome img {
  height: 250px;
  width: 250px;
  margin-right: 40px;
  float: left;
}

.slogan {
  margin-left: 20px;
  margin-top: 10px;
}

.slogan h1 {
  font-family: $font-one;
  margin-top: 0;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 20px;
}

.slogan p {
  font-size: 27px;
  line-height: 1.2em;
}

/*style features*/
.features-container {
  background-color: white;
  color: $kolor;
  letter-spacing: normal;
  text-align: center;
  margin: 25px auto;
  padding: 75px 0;
}

.feature {
  width: 32%;
  font-size:20px;
  padding-bottom: 15px;
}

.feature a{
  display: block;
  text-decoration: none;
  color: $kolor;
}

.feature .feature-image {
  height: 250px;
  width: 250px;
  margin: 5px auto;
  border: 5px solid $kolor;
  background-color:$kolor;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  transform: scale(1.0);
  transition: all 1s ease-out;
  padding: 10px;
}

.feature .feature-image:hover {
  opacity: .5;
  background-size: cover;
  transform: scale(1.1);
  transition: all 1s ease-out;
}

.feature-image-1 {background-image: url('../images/feature-chair-600.jpg');}
.feature-image-2 {background-image: url('../images/feature-hand-600.jpg');}
.feature-image-3 {background-image: url('../images/feature-woman-600.jpg');}

.feature p {
  padding-left:10px;
  padding-right:10px;
}
.small-icons-container {
  margin-top:20px ;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.small-icons  {
  display: inline-block;
  margin: 20px;
  margin-right: 10px;
  text-align: center;
  padding: 10px;
  font-size: 60px;
  height: 70px;
  width: 70px;
  background-color:$kolor ;
  border-radius: 50%;
  color:white;
  transition: 1s;
}
//.small-icons-container .fa-mobile{
//font-size:70px;
//  padding:0px;
//}nvm
.small-icons:hover {
  transition: 1s;
  transform:rotate(360deg);
  background-color: darken($kolor,5%);
}

.formularz {
  background-color: $kolor;
  background-image: url('../images/public-transport-1920-02r.jpg');
  //background-attachment: 100%;
  background-attachment: fixed;
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  color:white;
  padding: 100px 50px;
  text-align: center;


  input {
    font-size: 1.2em;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
  }

  button {
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    color:$kolor;
    margin: 10px;
    background-color: white;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
  }

  button:hover {
    background-color: $kolor;
    color:#fff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    transition: 1s;
  }

  button:disabled {
    color: #cecece;
  }

  .zgoda {
    font-size: .8em;
  }

  .mousemove {
    padding: 10px;
    margin: 10px auto;
    height: 50px;
    width: 400px;
    border: 1px solid #fff;
    font-size: .8em;
    border-radius: 5px;
    text-align: center;
    display: block;
    line-height: 1.5em;
    position: relative;
    z-index: 2;

    p, span {
      position: relative;
      z-index: 1;
    }
  }


}

.onas-container {
  background-color: white;
  color: $kolor;
  //ToDo
  //object-position: ;
  letter-spacing: normal;
  text-align: center;
  margin: 25px auto;
  padding: 75px 0; }

figure.onas {
  font-family: 'Raleway','Poiret One', sans-serif, sans-serif;
  text-align: justify;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  background: #ffffff;
  color: #000000;
}

figure.onas * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

figure.onas img {
  max-width: 90%;
  position: relative;
  //ToDo
  //display: compact;
  border-radius: 50%;
  border: 5px groove #B30800;  }


figure.onas:before {
  position:absolute;
  content: '';
  height: 100%;
  width: 90%;
  z-index: 1;
  left: -20%;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #fff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: skewX(-30deg) translateX(-80%);
  transform: skewX(-30deg) translateX(-80%);
  -webkit-box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5);
}

figure.onas figcaption {
  padding-left: 30px;
  position: absolute;
  left: 0;
  top: 25%;
  width: 60%;
  z-index: 1;
  opacity: 0;
}

figure.onas figcaption h2,
figure.onas figcaption p {
  margin: 0;
  text-align: center;
  padding: 5px 0 0;
  width: 100%;
  font-size: small;
  height: auto;
}

figure.onas figcaption h2 {
  font-size: 1.4em;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

figure.onas figcaption h2 span {
  font-weight: 800;
  text-align: center;
}

figure.onas figcaption p {
  font-weight: 500;
  font-size: small;
  opacity: 0.8;
  text-align: center;
}

figure.onas figcaption .icons {
  width: 100%;
  padding: 8px 0;
  border-radius: 10px;
}

figure.onas figcaption .icons i {
  display: inline-block;
  font-size: 20px;
  background: #000000;
  color: #ffffff;
  margin-right: 5px;
  opacity: 0.5;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
}

figure.onas figcaption a {
  opacity: 0.7;
}

figure.onas7 figcaption a:hover {
  opacity: 1;
}

figure.onas .position {
  position: absolute;
  bottom: 0;
  width: 89.5%;
  text-align: right;
  padding: 15px 30px;
  font-size: 0.9em;
  opacity: 1;
  font-weight: 500;
  color: #ffffff;
  background: #000000;
  border-radius: 50px;
}


figure.onas.red .icons i {
  background: #6d2018;
}

figure.onas.red .position {
  background: #962d22;
}

figure.onas:hover figcaption,
figure.sonas.hover figcaption,
figure.onas:hover .icons i,
figure.onas.hover .icons i {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

figure.onas:hover:before,
figure.onas.hover:before {
  -webkit-transform: skewX(-30deg) translateX(0px);
  transform: skewX(-30deg) translateX(0px);
  opacity: .5;
  transition: 1s;}


.mmwidth {
  position: relative;
  height: 50px;
  background-color: red;
  background: linear-gradient(to right, rgba(255,0,0,0.2), rgba(255,0,0,.9));
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  top: -50px;
  z-index: 0;
  opacity: 0.5;
}

.social-media {
  margin: auto;
  text-align: center;
  padding: 20px;
  background-color: $kolor;
  background: linear-gradient(180deg, $kolor, darken($kolor,10%));
  color: floralwhite;
  border-top: 2px solid floralwhite;
}

.social-media .sm-ico {
  text-align: center;
  margin: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
}

.social-media .sm-ico a {color: #fff;}
.social-media .sm-ico a:hover {color: #fff;}
.social-media .fb { background-color: #4668b3; }
.social-media .fb:hover { background-color: #3557a2; }
.social-media .gplus { background-color: #d95333; }
.social-media .gplus:hover { background-color: #c84222; }
.social-media .tw { background-color: #3095d3; }
.social-media .tw:hover { background-color: #2084c2; }

.footer {
  background-color: #222222;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 0.8em;
}
