#menu {
   list-style-type: none;
    font-family: Calibri, Arial;
    font-size: 20px;
}

#menu > li {
    float: left;
    width: 10%;
    text-align: center;
}

#menu > li:nth-child(4) {
    width: 20%;
}

#menu > li > a {
    display: block;
    text-decoration: none;
    color:#000;
}

#menu:after {
    content:'';
    display: block;
    clear: both;
}

#menu > li > a:hover {
    color: red;
}