<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-2" />
<title>Wygląd - Menu rozwijane, otwierane, wysuwane - Skrypty - Kurs HTML</title>
                                                                           <style type="text/css">
/* <![CDATA[ */
.menu {
    position: relative;
}

.menu dl {
    width: 150px;
    margin: 0;
    padding: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #aaa #666 #666 #aaa;
}

.menu dt {
    margin: 0;
    padding: 2px 5px;
    cursor: pointer;
    background-color: #888;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.menu dd {
    margin: 0;
    padding: 2px 5px;
    background-color: #ccc;
    color: #000;
}
/* ]]> */
</style>
  </head>
    <body>
    <div class="menu">
<dl id="menu1">
<dt>HTML</dt>
          <dd><a href="...">...</a></dd>
                                     <dd><a href="...">...</a></dd>
                                                                </dl>
                                                                  <script type="text/javascript">
// <![CDATA[
	new Menu('menu1', 'position: absolute', true, true, -1, -1, -1, -1, true);
// ]]>
</script>

  <dl id="menu2">
<dt>CSS</dt>
         <dd><a href="...">...</a></dd>
                                    <dd><a href="...">...</a></dd>
                                                               </dl>
                                                                 <script type="text/javascript">
// <![CDATA[
	new Menu('menu2', 'position: absolute; left: 150px', true, true, -1, -1, -1, -1, true);
// ]]>
</script>

  <dl id="menu3">
<dt>Skrypty</dt>
             <dd><a href="...">...</a></dd>
                                        <dd><a href="...">...</a></dd>
                                                                   </dl>
                                                                     <script type="text/javascript">
// <![CDATA[
	new Menu('menu3', 'position: absolute; left: 300px', true, true, -1, -1, -1, -1, true);
// ]]>
</script>
  </div>
    </body>
      </html>