body {
    color:crimson;
    font-family: Arial;
    font-size: 20px;
    background-color:floralwhite;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.section {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}
nav {
    color: crimson;
    padding: 10px;
}

.logo img{
    width: 60px;
    height: 60px;
    float: left;
}

.menu {
    list-style-type: none;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 0;
}

.menu > li {
    float: left;
    text-align: center;
    margin-left: 10px;
}

.menu > li > a {
    display: block;
    text-decoration: none;
    color:#000;

}
.menu:after {
    content:'';
    display: block;
    clear: both;
}

.menu > li > a:hover {
    color: red;
}

article {
    height: 20%;
    }

.welcome {
    background-image: url("../images/public-transport-1920-03r.jpg");
    color: white;
    padding:15px;
    background-size: cover;
    border-bottom: 10px solid crimson;
    height: 450px;
    align-items:center;
    display:flex;
  }

div.slogan {
    margin-left: 10px;
    flex-basis: 50%;
}

.welcome div h1 {
    font-size: 45px;
    margin-bottom: 5px;
    margin-top: 0;
    font-weight: 400;
}

.welcome img {
    height: 250px;
    width: 250px;
}

#features {
    background-color: floralwhite;
    color: crimson;
    height: 500px;
    padding: 10px;
    letter-spacing: normal;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#features div h2 {
     font-size: 35px;
     margin-bottom: 5px;
     margin-top: 0;
     font-weight:bold;
 }

#features div a{
    text-decoration: none;
    color: crimson;
}


.feature {
    text-align: center;
    padding: 5px;
    font-size:20px;
    float: left;
    width: 32%;
}

h3 {
    font-size: 30px;
    margin-bottom: 5px;
    margin-top: 0;
    font-weight:bold;
    text-decoration: none;
}







.feature a {
    display: block;
}

.feature .feature-image {
    height: 250px;
    width: 250px;
    margin: 5px auto;
    border: 6px solid crimson;
    background-color: green;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.feature-image-1 {background-image: url('../images/feature-chair-600.jpg');}
.feature-image-2 {background-image: url('../images/feature-hand-600.jpg');}
.feature-image-3 {background-image: url('../images/feature-woman-600.jpg');}

.feature p {}










h1 {
    color: white;
}
.formularz {
    background-color: crimson;
    background-image: url('../images/public-transport-1920-02r.jpg');
    color:white;
    padding: 50px;
    text-align: center;
}

.formularz input {
    font-size: 1.2em;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;

}

.formularz button {
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    color: crimson;
    margin: 10px;
    background-color: floralwhite;
}

.formularz .zgoda {
    font-size: .8em;
}

footer{
    background-color: dimgray;
    color: white;
    padding: 15px;
    text-align: center;
    height:10% ;
}


/*yt*/
/*{*/
    /*margin: 10px;*/
    /*width: 105px;*/
    /*height: 142px;*/
    /*background-color: #d94348;*/
    /*float: left;*/
/*}*/

/*.yt:hover*/
/*{*/
    /*background-color: #c83237;*/
/*}*/

/*.fb*/
/*{*/
    /*margin: 10px;*/
    /*width: 105px;*/
    /*height: 142px;*/
    /*background-color: #4668b3;*/
    /*float: left;*/
/*}*/

/*.fb:hover*/
/*{*/
    /*background-color: #3557a2;*/
/*}*/

/*.gplus*/
/*{*/
    /*margin: 10px;*/
    /*width: 105px;*/
    /*height: 142px;*/
    /*background-color: #d95333;*/
    /*float: left;*/
/*}*/

/*.gplus:hover*/
/*{*/
    /*background-color: #c84222;*/
/*}*/

/*.tw*/
/*{*/
    /*margin: 10px;*/
    /*width: 105px;*/
    /*height: 142px;*/
    /*background-color: #3095d3;*/
    /*float: left;*/
/*}*/

/*.tw:hover*/
/*{*/
    /*background-color: #2084c2;*/
/*}*/

/*a.tilelink*/
/*{*/
    /*color: #ffffff;*/
    /*text-decoration: none;*/
    /*display: block;*/
    /*width: 230px;*/
    /*height: 142px;*/
/*}*/

/*a.tilelinkhtml5*/
/*{*/
    /*color: #ffffff;*/
    /*text-decoration: none;*/
/*}*/

/*a.sociallink*/
/*{*/
    /*color: #ffffff;*/
    /*text-decoration: none;*/
    /*display: block;*/
    /*width: 105px;*/
    /*height: 142px;*/
/*}*/