/*.obrazek {*/
/*height: 400px;*/
/*width: 900px;*/
/*margin: 100px;*/
/*background-color: rgba(255, 0, 0, 0.1);*/
/*background-image: url('../images/logo-autobus.png');*/
/*background-repeat: repeat-y;*/
/*!*background-position: 200px,-50px; lub center center*!*/
/*background-size: cover;*/
/*}*/

/*body {*/
/*color: red;*/
/*font-size: 30px;*/
/*font-family: Arial;*/
/*!*display: block;*!*/
/*}*/

table {
    font-size: 20px;
    font-family: Arial;
    color: red;
}
table, th, td {
    border: 1px solid black;
    margin: 5px;
}
th, td {
    width: 30px;
    height: 30px;
    text-align: center;
}
.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.naglowek-strony {
    background-color: #3095d3;
    /*height: 200px;*/
}

.element {
    background-color: red;
    /*opacity: 0.3;*/

}

.element2 {
    height: 100px;
    width: 300px;
    margin: 20px;
    background-color: lime;
    opacity: 0.5;
}
main{
    background-color: beige;
    position: relative;
}
.pos1{
    width: 400px;
    height: 200px;
    background-color: #ff61bc;
    position: relative;
    top:100px;
    right:50px;
}

.pos2{
    width: 400px;
    height: 200px;
    background-color:darkviolet ;
    position: relative;
}
a {
    cursor: url("../images/favicon.ico");
}

/*span {*/
/*color: green;*/
/*font-size: 40px;*/
/*}*/

/*div {*/
/*color: blue;*/
/*font-size: 50px;*/
/*font-family: Calibri;*/
/*}*/

/*#nawigacja a[href^='http://']:hover::after {*/
/*content: 'link zewnętrzny'*/
/*}*/

/*li {*/
/*display: inline-block;*/
/*font-size: 20px;*/
/*background-color: #A20700;*/
/*padding: 5px 10px;*/
/*}*/

/*.list-level2 li {*/
/*background-color: blue;*/
/*}*/

/*.list-level3 li {*/
/*background-color: green;*/
/*}*/

/*menu ul ul {*/
/*display: none;*/
/*position: absolute;*/
/*}*/

/*li:hover > ul {*/
/*display: block;*/
/*}*/

/*ul ul li {*/
/*display: block;*/
/*}*/

/*to nie jest potrzebne*/
/*.list-level2 li,*/
/*.list-level3 li{*/
/*display: none;*/
/*}*/
/*.list-level1 li:hover .list-level2 li  {*/
/*display: block;*/
/*}*/