/*elelemty globalne wpisujmey na górze dokumentu*/
/*np. span dla całego css i html*/


.left{
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}



.content{
    width: 1100px;
    background-color: #EEEEEE;
    margin-right: auto;
    margin-left: auto;
    /*color: navy;*/
    /*font-family: Arial, sans-serif;*/
    /*font-size: 20px;*/
}
.naglowek-strony{
    background-color: greenyellow;
    height: 150px;
    position: relative;

}
.naglowek-strony .logo-produktu{
    position: absolute;
    top: 20px;
    left: 50px;
    width: 210px;
    height: 100px;
    background-color: #aaaaaa;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.naglowek-strony .menu-glowne {
   position: absolute;
    top: 60px;
    right: 20px;

}
.naglowek-strony .menu-glowne li{
    display: inline-block;
}
.tresc-strony {
}
.tresc-strony .funkcjonalnosci{

}
.tresc-strony .funkcjonalnosci .funkcja{
    width: 350px;
    display: inline-block;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
}

.tresc-strony .funkcjonalnosci .funkcja-obrazek {
    width: 200px;
    height: 200px;
    display: inline-block;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    border: dashed 2px #00ff00;
    background-color: #ff61bc;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    border-radius: 5px 10px 20px 30px;
}
.tresc-strony .funkcjonalnosci .funkcja img{
    border: dashed 2px #0f0;
}
.tresc-strony .funkcjonalnosci .funkcja h1{
    font-size: 20px;
}
.tresc-strony .funkcjonalnosci .funkcja p{
    font-size: 11px;
    padding: 20px;
    color: #ff0e0b;
}
.tresc-strony .o-nas{

}
.tresc-strony .o-nas  .o-nas-opis{
    width: 49%;
    height: 300px;
    background-color: #ff0e0b;
    margin: 1x;
    text-align: center;
    border: dotted;
    border-color: #132d8e;
}

.stopka-strony{
    text-align: center;
    font-style: italic;
    color: #fafafa;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: darkslategrey;


}