body{
    background-color: #3557a2;
    color: white;
    font-size: 40px;
    font-family: Corbel;
}
#zegar{
    border: solid darkred;
    text-align: center;


}
.dodatkowybox{
    background-color:#3557a2;
    color: black;
}