body{
    background-color: #3557a2;
    color: white;
    font-size: 40px;
    font-family: Corbel;
}
#zegar{
    border: solid darkred;
    width: 600px;
    margin: 5px;
    padding:5px;
    text-align: center;
    display: inline-block;


}
#slider{
    display: block;
}
.dodatkowybox{
    background-color: #a21716;
    color: black;
    width: 5px;
    height: 5px;
    position: relative;
}

