/*################################################
tyle globalne*/

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.content {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

/*#################################################
elementy strony*/

.naglowek-strony {
    background-color: green;
    height: 150px;
    position: relative;
}

.naglowek-strony .logo-produktu {
    position: absolute;
    left: 50px;
    top: 20px;
    width: 210px;
    height: 100px;
    background-color: #aaaaaa;
    background-image: url('../images/logo-autobus.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

}

.naglowek-strony .menu-glowne {
    position: absolute;
    right: 50px;
    top: 50px;
}

.naglowek-strony .menu-glowne li {
    display: inline;
    margin-top: 50px;
}

/*################################################*/


.tresc-strony {
    padding: 50px 0px;

}

.tresc-strony .funkcjonalnosci {

}

.tresc-strony .funkcjonalnosci .funkcja {
    padding:20px 10px;
    width: 340px;
    display: inline-block;
    text-align: center;
}

.tresc-strony .funkcjonalnosci .funkcja-obrazek {
    width: 200px;
    height: 200px;
    border: dashed 2px green;
    margin: 0 auto;
    background-image: url(../images/logo-autobus.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    border-radius: 5px 10px 20px 30px;
}

.tresc-strony .funkcjonalnosci img {
    border: dashed 2px #0f0;
}

.tresc-strony .funkcjonalnosci h1 {
    font-size: 20px;
}

.tresc-strony .funkcjonalnosci p {
    font-size: 11px;
    padding: 20px;
    color: #ff5555;
}


.tresc-strony .o-nas {

}

.tresc-strony .o-nas .o-nas-opis {
    width: 50%;
    height: 300px;
    background-color: #ffaaaa;
}

/*##################################################
stopka*/
.stopka-strony  {
    text-align: center;
    color: #eee;
    background-color: #222;
    padding-top: 50px;
    padding-bottom: 50px;
}



























/*!*.logo_witryny {*!*/
/*!*background-color: black;*!*/
/*!*width: 200px;*!*/
/*!*height: 200px;*!*/
/*!*!*float: right;*!*!*/
/*!*display: inline-block;*!*/
/*!*color: white;*!*/
/*!*}*!*/

/*!*.wersja_produktu {*!*/

/*!*display: inline-block;*!*/
/*!*background-color: cornflowerblue;*!*/
/*!*width: 200px;*!*/
/*!*height: 200px;*!*/
/*!*}*!*/

/*!*.left {*!*/
/*!*float: left;*!*/
/*!*}*!*/

/*!*.right {*!*/
/*!*float: right;*!*/
/*!*}*!*/

/*!*.clear {*!*/
/*!*clear: both;*!*/
/*!*}*!*/

/*main {*/
/*padding: 200px;*/
/*background-color: green;*/
/*}*/

/*header {*/
/*padding: 200px;*/
/*position: relative;*/
/*background-color: yellow;*/
/*}*/

/*div {*/
/*margin: 20px;*/
/*padding: 20px;*/
/*background-color: red;*/
/*}*/

/*.pozycja-relatywna {*/
/*position: absolute; top: -40px; left: 50px; right: 100px;bottom: 100px;*/
/*background-color: cornflowerblue;*/
/*z-index: 1;*/
/*}*/

/*.absolutna {*/
/*position: absolute; top: 50px; left: 10px; bottom: 50px; right: 30px;*/
/*!*right: 50px;*!*/
/*background-color: #ffaaaa;*/
/*z-index: 2;*/
/*}*/

/*.social-media {*/
/*background-color: aqua;*/
/*position: fixed;*/
/*left: 50px;*/
/*height: 200px;*/
/*width: 300px;*/
/*z-index: 100;*/
/*top: 100px;*/
/*}*/

/*table {*/
/*border: solid 2px red;*/
/*}*/